[submodule "LizardGraphics-2.0"]
	path = LizardGraphics-2.0
	url = https://github.com/GercogKaban/LizardGraphics-2.0
[submodule "LatropPhysics"]
	path = LatropPhysics
	url = https://github.com/TwoDollarsEsq/LatropPhysics
[submodule "tracy-profiler"]
	path = tracy-profiler
	url = https://github.com/wolfpld/tracy
