[submodule "magic_enum"]
	path = LatropGraphics/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "glfw"]
	path = LatropGraphics/glfw
	url = https://github.com/glfw/glfw
[submodule "VulkanMemoryAllocator"]
	path = LatropGraphics/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "tracy-profiler"]
	path = LatropGraphics/tracy-profiler
	url = https://github.com/wolfpld/tracy
